Source: vibe2gui
Section: science
Priority: extra
Maintainer: Christian Urich <christian.urich@gmail.com>
Build-Depends: cmake, debhelper (>= 7.0.50~), cmake,  python(>=2.6.0~), python-dev(>=2.6.0~), libboost-python-dev(>=1.36.0~), libqt4-opengl-dev, libboost-program-options1.42-dev(>=1.36.0~), libboost-date-time1.42-dev(>=1.36.0~), libqt4-dev(>=4.6.0~), vibe2core(>=1.0.1~), vibe2core-dev(>=1.0.1~), libqglviewer-qt4-dev(>=2.3.4), libqtwebkit-dev(>=2.1~)
Standards-Version: 3.9.1
Homepage: https://github.com/christianurich/VIBe2Core
#Vcs-Git: git://git.debian.org/collab-maint/vibe2gui.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vibe2gui.git;a=summary

Package: vibe2gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphical User Interface for the VIBe2 Framework

